body{
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000, #434343);
    background: linear-gradient(to bottom, #000000, #434343);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    background-size: 100% 100%;
}

html{
    height: 100%;
}

h1{
    margin-top: 1%;
    font-size: 48px;
    text-align: center;
}

h4{
    text-align: center;
}

a{
    text-decoration: none;
    background: #aa076b; 
    background: -webkit-linear-gradient(to right, #aa076b, #61045f);
    background: linear-gradient(to right, #aa076b, #61045f);
    color: whitesmoke;
    border-radius: 10px;
    border: 4px solid whitesmoke;
    padding: 0.3%;
}

a:hover{
    cursor: pointer;
    text-transform: uppercase;
}

p{
    margin: 0;
    padding: 0;
}

.firstTable{
    margin-left:auto;
    margin-right: auto;
    background: #aa076b; 
    background: -webkit-linear-gradient(to right, #aa076b, #61045f);
    background: linear-gradient(to right, #aa076b, #61045f);
    opacity: 0.7;
    border: solid whitesmoke;
    border-radius: 25px;
    border-collapse: collapse;
    border-style: hidden;
    border-spacing: 0;
    box-shadow: 0 0 0 4px whitesmoke;
}
.firstTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.firstTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td{
    border: solid whitesmoke;
    padding: 2%;
}

.firstTable:hover{
    opacity: 1.0;
}